@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,600&display=swap');

/* corporate color scheme : blue dark #272F7A
blue light #0B91D0
light grey #D6D6D6 */
/* ---------------------- Global CSS -------------------------- */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
    width: 100%;
}

.hero-image {
    margin-top: 8vh;
    display: flex;
    height: 40vh;
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
    padding-bottom: 70px;
}

.intro-text {
    padding-top: 12px;
    color: #272F7A;
    text-align: center;
}

h3 {
    text-align: center;
    padding-top: 16px;
}

p {
    text-align: justify;
    color: #0B91D0;
    padding: 2px 24px 24px 24px;
    margin: auto;
}

header a:hover {
    padding: 4px;
    border-bottom: 1px #fafafa solid;
    /* background-color: #fefefe; */
}

footer a:hover {
    padding: 4px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: #272F7A;
    text-decoration: #fafafa;
    
}

/* ---------------------------- contact page styles -------------------------- */

.contact-heading {
    padding: 50px;
    font-weight: 600;
}

ul {
    color: #0B91D0;
}

h5 {
    text-align: center;
    font-weight: 500;
    color: #0B91D0;
}

.text-box {
    border-width: 2px;
    border-radius: 2px;
    border-color: rgb(0, 0, 0);
}

iframe{
    width: 100%;
    height: 300px;
}

/* ----------------------footer styling----------------------- */
.footer-style {
    color: #fafafa;
    background-color: #D6D6D6;
    text-align: center;
    padding: 5px;
}

.footer-style li {
    display: inline;
}

.footer-style li i {
    color: #fafafa;
    padding: 5px;
}

/* ---------------------- Our Project Styles ----------------------- */
.carousel {
    text-align: center;
    max-width: max-content;
    margin: auto;
}

.album {
    background: #272F7A;
    padding-top: 70px;
    height: 100%;
    padding-bottom: 40px;
}

.project-head {
    display:flexbox;
    max-width: 33vw;
    max-height: 200px;
}

.slider{
    height: 300px;
    width: 100%;
    image-rendering: auto;
}

#map {
    padding-top: 25px;
    padding-bottom: 10px;
}